{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to SKM Ecommerce store...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><p align='justify'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit excepturi illum culpa, inventore nemo molestias. Itaque, a accusantium, reiciendis sequi cupiditate, sapiente quos aspernatur minima hic ab ad repellendus distinctio?<br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam magni exercitationem quaerat ab animi assumenda minus nam nisi dolor necessitatibus saepe neque quam, quod consectetur quis. Nemo fugiat perspiciatis itaque?<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum aspernatur totam tempore ex doloremque eaque nobis, autem suscipit ea possimus maxime, sequi deleniti impedit voluptatum nisi delectus velit consequuntur similique?</p>
            </div>
        </center>
    </div>
</div>

{%endblock%}
